# Personal Notes (Exercises below):

Stirng Indexing:

In [3]:
my_string = "I AM A STRING"

In [4]:
print(my_string[5])

A

In [14]:
print(my_string[6])

In [6]:
print(my_string[-5])

T

In [7]:
x = [1,2,3,4]
print(x[1:7])

[2, 3, 4]

Can make parameters for slicing larger than the last index.

Control Structures:

In [13]:
x = 1
y = 0.5
if (x > y): 
    print("X is greater than Y")
else:
    print("Smaller")

X is greater than Y

NB: Make sure to be descriptive when naming variables. Rather use underscores than camel case. Camel case is used for function names.

Conditions -> if and else

Loops -> while and for loops

In data science you can replace conditional statements with the search statement if you have data structures that support it.

Loops:

break -> will exit the loop altogether.

continue -> will stop the current iteration.

In [15]:
cities = ["Charlottesville", "New York", "Boston"]

for city in cities:
    city = city.lower()
    print(city)

charlottesville
new york
boston

In [19]:
cities = ['Charlottesville','New York','SF','BOS','LA']

for city in cities:
    if city == 'SF':
        continue # this will stop this if iteration.
    city = city.lower()
    print(city)

charlottesville
new york
bos
la

In [20]:
cities = ["Charlottesville", "New York", "Boston"]

for city in cities:
    city = city.upper()
    print(city)

CHARLOTTESVILLE
NEW YORK
BOSTON

# M03 In Class Exercises:

Example 3.1.

What prints in the example if val = 5?

In [22]:
val = 5
if -10 < val < -5:
    print("bucket 1")
elif -5 <= val < -2:
    print("bucket 2")
elif val == -2:
    print("bucket 3")

Nothing will print.

How would you fix the problem:
With an else statement.

In [23]:
val = 5
if -10 < val < -5:
    print("bucket 1")
elif -5 <= val < -2:
    print("bucket 2")
elif val == -2:
    print("bucket 3")
else:
    print("Value is outside the parameters.")

Value is outside the parameters.

Example 3.2.

In [27]:
xx = [-2, 8, 0, 5, 6]
max_val = max(xx)
print(max_val)

for i in xx:
    if i < max_val:
        print(i)
    else: 
        print("max_value")

8
-2
max_value
0
5
6

Example 3.3.

In [1]:
it = 0
max_iter = 100

while it < max_iter:
    if (it == 0) or (it % 10 == 0):
        print(it)
    it += 1

0
10
20
30
40
50
60
70
80
90

Example 3.4.

In [2]:
list1 = ["Chris", "Kurt", "Samuel", "Alex"]
for i in list1:
    i = i.lower()
    print(i)

chris
kurt
samuel
alex

In [3]:
# Another way to do it:
for name in list1:
    print(name.lower())

chris
kurt
samuel
alex

Examplew 3.5.

In [4]:
names = iter(list1)
print(next(names))
print(next(names))
print(next(names))
print(next(names))

Chris
Kurt
Samuel
Alex

Example 3.6.

In [5]:
for name in iter(list1):
    print(name)

Chris
Kurt
Samuel
Alex

Example 3.7.

In [6]:
cities = {
    "High Point": 27262,
    "Charlottesville": 22903,
    "Vereeniging": 1935
}

for city, zip in cities.items():
    print(city, zip)

High Point 27262
Charlottesville 22903
Vereeniging 1935

Example 3.8.

In [8]:
vals = [1, 2, 3, 4]
cubes = [val ** 3 for val in vals]
cubes

[1, 8, 27, 64]

Example 3.9.

In [9]:
list2 = ["5", "Chris", "Kurt", "6", "7", "Hello", "Nice"]
digit = [val for val in list2 if val.isdigit()]
digit

['5', '6', '7']